<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} Pixel Shop {% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>⚔️Creeminecraft </h1>
        <nav>
            <a href="{{ url_for('main.index') }}">Inicio</a>
        </nav>
    </header>

    <main>
        {% block contenido %}{% endblock %}
    </main>

    <footer>
        <p>Tienda Virtual - Taller 1 Flask</p>
    </footer>

</body>
</html>
