{% extends "base.html" %}

{% block titulo %}
Catálogo de productos
{% endblock %}

{% block contenido %}

<h2>Catálogo de productos</h2>

<div class="productos">

    {% for producto in productos %}

    <article class="producto">

        <img
            src="{{ url_for('static', filename=producto.foto) }}"
            alt="{{ producto.nombre }}"
        >

        <h3>{{ producto.nombre }}</h3>

        <p><strong>Marca:</strong> {{ producto.marca }}</p>

        <p><strong>Precio:</strong> ${{ producto.precio }}</p>

        <a href="{{ url_for('main.detalle', sku=producto.sku) }}">
            Ver detalle
        </a>
